<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sākumlapa</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>Sveicināti Spēlē "Atrodi Bumbu"</h1>
    <nav>
      <a href="/game">Sākt Spēli</a>
      <a href="/top">Rezultāti</a>
      <a href="/about">Par Spēli</a>
    </nav>
  </header>
  <main>
    <p>Šeit būs ievads spēlei un norādes, kā spēlēt.</p>
  </main>
</body>
</html>